@model IEnumerable<BlogProject.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>

<hr />

<p>
    @Html.ActionLink("Yenı Blog Ekle", "Create", null, new { @class = "btn btn-primary" })
</p>

@if (TempData["Blog"] != null)
{
    var entity = (BlogProject.Models.Blog)TempData["Blog"];
    <div class="alert alert-success" role="alert">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
            <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
        </svg>
        <strong>@entity.Baslik</strong> Kayıt Edilmiştir
    </div>
}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.KategoriAdi)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Resim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Onay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anasayfa)
        </th>
        <th style="width:250px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.KategoriAdi)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EklenmeTarihi)
            </td>
            <td>
                @if (item.Onay)
                {
                    <span class="label label-success">Onaylı</span>
                }
                else
                {
                    <span class="label label-danger">Onaylanmamıs</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anasayfa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning   inline btn-sm" }) |
                 |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger    btn-sm" })
            </td>
        </tr>
    }

</table>
